{% extends "layout.html" %}
{% block title %}Map{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block activemap %}
    class = "active"
{% endblock %}
{% block content %}
    <h1>Map</h1></br>
    <div id='chart'></div>
    <div id='chart_div' style='width: 900px; height: 500px;'></div>
    <div id='map_canvas'></div>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.charts.load('visualization', '1', {packages:['geochart']});
        google.charts.setOnLoadCallback(draw);

        function draw() {
            drawMarkersMap();
        }

        function drawMarkersMap() {
            let rows = {{ players|safe }};
            rows.splice(0,0,['Country', 'Players']);
            let data = google.visualization.arrayToDataTable(rows);

            let options = {
                region: 'world',
                displayMode: 'markers',
                colorAxis: {colors: ['green', 'blue']},
            };

            let chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            chart.draw(data, options);

            google.visualization.events.addListener(chart, 'select', function() {    
                let selectionIdx = chart.getSelection()[0].row;
                let countryName = data.getValue(selectionIdx, 0);   
                console.log(countryName);
                //options.region = countryName;
                //chart.draw(data, options);
            });
        };

    </script>
{% endblock %}
