{% extends "layout.html" %}
{% block title %}{{ info.name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>{{ info.name }}</h1></br>
    <div class="tabbable">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a data-toggle="tab" href="#info">Info</a></li>
            <li role="presentation"><a id="caltab" data-toggle="tab" href="#calendar">Calendar</a></li>
            <li role="presentation"><a id="winnlosstab" data-toggle="tab" href="#winnloss">Winn/Loss</a></li>
            <li role="presentation"><a data-toggle="tab" href="#elo">Elo rating</a></li>
            <li role="presentation"><a data-toggle="tab" href="#matches">Matches</a></li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <br/>
                <div class="table-responsive col-md-6">
                    <table class="table table-condensed">
                        <tr>
                            <td>Country:</td>
                            <td> {{ info.country }}</td>
                        </tr>
                        <tr>
                            <td>Birth day:</td>
                            <td>{{ info.birth }}</td>
                        </tr>
                        <tr>
                            <td>Turned professional:</td>
                            <td>{{ info.professional }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="calendar" class="tab-pane fade">
                <div id="calendar_basic" style="width: 1100px; height: {{ 50+150*n_years }};"></div>
            </div>
            <div id="winnloss" class="tab-pane fade">
                <br/>
                <div id="coldiv" style="width: 1100px; height: 500px;"></div>
            </div>
            <div id="elo" class="tab-pane fade">
                <br/>
                <div id="linechart_material" style="width: 1100px; height: 500px;"></div>
            </div>
            <div id="matches" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        {% for tour in results %}
                            <thead>
                                <th colspan="6">
                                    <h4> <a href="{{ url_for("tournament", id=tour.id) }}">
                                        {{ tour.name }}
                                    </a></h4>
                                </th>
                            </thead>
                            <tbody>
                                {% for round in tour.rounds %}
                                    {% for match in round.matches %}
                                        {% include 'match.html' %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["calendar", "bar", "line", "corechart"]});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            let activeId = $('.nav-pills li.active a')[0].getAttribute('href');
            if (activeId === "#calendar") {
                drawCalendar();
            } else {
                $("a[href='#calendar']").one('shown.bs.tab', drawCalendar);
            }
            if (activeId === "#winnloss") {
                drawWinnLoss();
            } else {
                $("a[href='#winnloss']").one('shown.bs.tab', drawWinnLoss);
            }
            if (activeId === "#elo") {
                drawElo();
            } else {
                $("a[href='#elo']").one('shown.bs.tab', drawElo);
            }
        }

        function drawCalendar() {
            // calendar
            let dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'date', id: 'Date' });
            dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
            let o = {{ days|safe }};
            let rows = [];
            for (let i = 0; i<o.length; ++i) {
                rows.push([new Date(o[i][0], o[i][1]-1, o[i][2]), o[i][3]]);
            }
            dataTable.addRows(rows);


            let options = {
                title: "{{ info.alias }}",
                height: 50+140*{{ n_years }},
            };
            let chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));
            chart.draw(dataTable, options);
        }
        function drawWinnLoss() {
            let rows = {{ seasons|safe }};
            rows.splice(0,0,['Season', 'Winns', 'Losses']);
            let dataTable = google.visualization.arrayToDataTable(rows)

            let options = {
                width: 1100,
                height: 500,
                legend: { position: 'top'},
                colors: ['green','red'],
                chartArea: {  width: "80%", height: "70%" },
            };

            let chart = new google.charts.Bar(document.getElementById('coldiv'));
            chart.draw(dataTable, google.charts.Bar.convertOptions(options));
        }
        function drawElo() {
            let o = {{ elos|safe }};
            let rows = [];
            rows.push([{id: "Date", type: 'date'}, {id: "Rating", type: 'number', label:'Rating'}, {type: 'string', role: 'tooltip'}]);
            for (let i = 0; i<o.length; ++i) {
                let date = o[i].date;
                rows.push([new Date(date[0], date[1]-1, date[2]), o[i].rating, o[i].name+"\nRating: "+o[i].rating.toFixed(2)]);
            }
            let dataTable = google.visualization.arrayToDataTable(rows)

            let options = {
                width: 1100,
                height: 500,
                chartArea:{left:60,top:20,width:'90%',height:'75%'},
                legend: 'none',
                vAxis: {format: 'decimal',title:'Rating'},
                hAxis: {format: 'yyyy', title: 'Year'}
            };
            let chart = new google.visualization.LineChart(document.getElementById('linechart_material'));

            chart.draw(dataTable, options);
        }
    </script>
{% endblock %}
